body{
  background: rgba(245, 246, 248, 1);
}
.App {
  text-align: center;
}

.badge{
  background: rgb(141, 160, 207)
}

.navbar.bg-dark{
  background: linear-gradient(to bottom right, rgba(86, 136, 254, 1), rgba(96, 179, 255, 1));
  box-shadow: 0 3px 6px rgba(68, 106, 180, 0.16);
}

.btc {
  fill: #EB8B37;
}

.eth {
  fill: #7F87A5;
}

.down{
  color: rgb(230, 64, 64);
}

.up{
  color: rgb(12, 194, 12);
  font-weight: bold;
}

.card{
  box-shadow: 0 0px 6px rgba(128, 135, 148, 0.16);
}
.card.active{
  background: linear-gradient(to bottom right, rgba(255, 83, 155, 1), rgba(255, 111, 97, 1));
  color: #FFFFFF;
}
.card.active .btc,
.card.active .eth{
  fill: #FFFFFF;
}

.coin-selector{
  margin: 20px 0;
}
.coin-selector .card{
  min-height: 120px
}

.btn{
  border: 0;
  background: linear-gradient(to bottom right, rgba(86, 136, 254, 1), rgba(96, 179, 255, 1));
}

h4{
  margin: 20px 0;
  font-size: 16px;
  font-weight: bold;
}